---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../layouts/Section.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
import { Heading } from "../components/Heading/Heading";
import { Image } from "astro:assets";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faInstagram } from "@fortawesome/free-brands-svg-icons";
import img01 from "../assets/images/about/img01.png";
import img02 from "../assets/images/about/img02.png";
import img03 from "../assets/images/about/img03.png";

const pageTitle = "About me";
---

<BaseLayout underlayer pageTitle={pageTitle}>
  <Section>
    <ContentLayout size="s">
      <Heading as="h1">{pageTitle}</Heading>
      <div class="contents">
        <p>
          I'm Front End Engineer. I'm introvert and basically warm-hearted
          person. <br /> I want to be a loving person.
        </p>
        <dl class="aboutDl">
          <dt>Like:</dt>
          <dd>Traveling abroad / Stroll / Reading / Eating / Musical Movies</dd>
          <dt>Countries visited so far</dt>
          <dd>
            South Korea / Philippines / Taiwan / Guam / Italy / New zealand /
            Australia / Canada / Ireland
          </dd>
        </dl>
        <div class="aboutImage">
          <div>
            <Image src={img01} alt="" class="cover" />
          </div>
          <div>
            <Image src={img02} alt="" class="cover" />
          </div>
          <div>
            <Image src={img03} alt="" class="cover" />
          </div>
        </div>
        <a
          href="https://www.instagram.com/miku_starrysky/"
          target="_blank"
          class="link"
        >
          If you want to know more about me, please check my Instagram!
          <FontAwesomeIcon icon={faInstagram} className="icon" />
        </a>
      </div>
    </ContentLayout>
  </Section>

  <style lang="scss">
    .link {
      display: flex;
      align-items: center;
      width: fit-content;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    .icon {
      margin-left: 8px;
      width: 16px;
      height: auto;
      aspect-ratio: 1 /1;
    }
    .contents {
      & > * {
        &:not(:first-child) {
          margin-top: 24px;
        }
      }
    }

    .aboutDl {
      margin-top: 24px;
      display: grid;
      & > dt {
        text-transform: capitalize;
        &:nth-of-type(n + 2) {
          margin-top: 16px;
        }
      }
    }
    .aboutImage {
      margin-top: 40px;
      gap: 24px;
      display: grid;

      @include mq {
        grid-template-columns: repeat(3, 1fr);
      }

      > div {
        background: #000;
        height: 200px;
        border-radius: 20px;
        overflow: hidden;
      }
    }
  </style>
</BaseLayout>
